.hero {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9)),
    url('../../../assets/images/Image\ Placeholder1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 722px;
}

.hero__maincontainer {
  min-height: 400px;
  width: 50%;
  padding: 130px 200px;
  color: #fff;
  left: 0px;
  top: 165px;
  border-radius: 0px;
  letter-spacing: 2px;
  /* background-color: red; */
}

.hero__container-content {
  display: flex;
  flex-direction: column;
  gap: 200px;
  background-color: green;
}

.hero__container_heading {
  height: 148px;
  width: 669px;
  left: 136px;
  top: 362px;
  border-radius: nullpx;
}

.hero__heading {
  font-family: serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0.003em;
  text-align: left;
  color: white;
}

.hero__container_paragraph {
  height: 25px;
  width: 654px;
  left: 136px;
  top: 527px;
  border-radius: nullpx;
  margin: 2%;
  text-align: left;
  /* background-color: blue; */
}

.hero__paragraph {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.005em;
}

.padgination {
  height: 56px;
  /* min-width: 1070px; */
  width: 100%;
  /* background-color: black; */
  border-radius: 0px;
  /* border: 6px solid #fff */
  display: flex;
  align-items: center;
  justify-content: center;
}

.padgination__container {
  width: 100%;
  /* background-color: orangered; */
  border-radius: 0px;
  padding: 3%;
  /* gap: 250px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.padgination__left,
.padgination__right {
  color: white; /* 
  background-color: rgb(129, 127, 127); */
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 4px solid white;
}

.padgination__left i {
  font-size: 2rem;
}

.padgination__right i {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .hero__maincontainer {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .hero__container_paragraph {
    height: 25px;
    width: 80%;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .hero {
    object-fit: cover;
    background-position: center center;
  }

  .hero__container_paragraph {
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
  }

  .hero__paragraph {
    font-size: 16.7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__container_heading {
    height: fit-content;
    width: 100%;
  }

  .hero__heading {
    font-family: serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.003em;
    text-align: left;
    color: white;
  }

  .padgination__left,
  .padgination__right {
    color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid white;
  }

  .padgination__left i {
    font-size: 1rem;
  }

  .padgination__right i {
    font-size: 1rem;
  }
}
